body{
background-image: url("Triangle-Tile.png");

background-repeat: repeat;

}
div{ border:double #062134;
background-color: #1468a8;
	color:#daedff;
	border-color:#daedff;



}

.flex-container {

  display: flex;
  
  flex-flow: row wrap;
  
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}
.col-1 {


}

.main{

}

.col-2 { 


}

.foot1 {

}

.foot2 {

}

.foot3 {

}

.foot4 {

}

.foot5 {

}

@media all and (min-width: 600px) {
  .col { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .col-1 { flex: 1 0px; }
.col-2 { flex: 1 0px; }
.foot1 { flex: 1 0px; }
.foot2 { flex: 1 0px; }
.foot3 { flex: 1 0px; }
.foot4 { flex: 1 0px; }
.foot5 { flex: 1 0px; }
}
